<a href="https://colab.research.google.com/github/MarcusPauloFaustino1/Exercicios-Growdev/blob/main/Programacao_DS_II_atividade1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importações

In [8]:
import pandas as pd
 
livros = pd.read_csv('/content/drive/MyDrive/Exercícios /Cópia de livros.csv')

livros_classicos = pd.read_csv('/content/drive/MyDrive/Exercícios /Cópia de livros_classicos.csv')

livros_genero = pd.read_csv('/content/drive/MyDrive/Exercícios /Cópia de livros_genero.csv')

### 1) Faça a concatenação das bases de dados e encontre qual o gênero de livro correspondente a cada livro.

In [78]:
result = pd.concat([livros['nome'],livros_genero['genero'],livros_classicos['nome']],axis=1)

display(result)

        nome    genero      nome
0    livro 1     Drama   livro 1
1    livro 2  Aventura   livro 2
2    livro 3     Drama   livro 3
3    livro 4   Romance   livro 4
4    livro 5   Romance   livro 5
5    livro 6  Aventura   livro 6
6    livro 7     Drama   livro 7
7    livro 8  Aventura   livro 8
8    livro 9   Romance   livro 9
9   livro 10  Aventura  livro 10
10       NaN   Romance       NaN

### 2) Faça a concatenação das bases de dados de livros e livros_genero e encontre qual os gêneros e os autores que não possuem um livro correspondente.

In [26]:
livros__genero = pd.concat([livros, livros_genero],axis=1)

mask = result['nome'].isnull()

register = livros__genero[mask]

#print(register)

for index, reg in register.iterrows():
  print(f'O livro de {reg["autor"]} do gênero {reg["genero"]} não possui livro correspondente.')

O livro de Pedro do gênero Romance não possui livro correspondente.

### 3) Faça a junção das bases de livros e livros clássicos.

In [ ]:
result = pd.concat([livros, livros_classicos], axis=1)
display(result)

       nome  paginas      nome    autor
0   livro 1      257   livro 1    Jorge
1   livro 2      106   livro 2   Santos
2   livro 3      150   livro 3  Leandro
3   livro 4      175   livro 4    Clara
4   livro 5      321   livro 5   Flavia
5   livro 6      159   livro 6  Leandro
6   livro 7      980   livro 7   Santos
7   livro 8      235   livro 8   Marcia
8   livro 9      745   livro 9   Marcia
9  livro 10      126  livro 10    Clara

### 4) Faça a junção das bases de livros e livros clássicos apenas com os elementos em comum entre ambos e remova os índices dos antigos dataframes.

In [63]:
pd.concat([livros, livros_classicos],axis=0,ignore_index=True,join='inner')

        nome
0    livro 1
1    livro 2
2    livro 3
3    livro 4
4    livro 5
5    livro 6
6    livro 7
7    livro 8
8    livro 9
9   livro 10
10   livro 1
11   livro 2
12   livro 3
13   livro 4
14   livro 5
15   livro 6
16   livro 7
17   livro 8
18   livro 9
19  livro 10

### 5) Faça a junção das bases de livros e livros clássicos apenas com os elementos comuns entre ambos, e adicione chaves para o dataframe de livros e de livros clássicos.

In [79]:
pd.concat([livros, livros_classicos],axis=0,keys=['livros','livros_classicos'],join='inner')

                        nome
livros           0   livro 1
                 1   livro 2
                 2   livro 3
                 3   livro 4
                 4   livro 5
                 5   livro 6
                 6   livro 7
                 7   livro 8
                 8   livro 9
                 9  livro 10
livros_classicos 0   livro 1
                 1   livro 2
                 2   livro 3
                 3   livro 4
                 4   livro 5
                 5   livro 6
                 6   livro 7
                 7   livro 8
                 8   livro 9
                 9  livro 10

### 6) Faça a junção das bases de livros e livros clássicos apenas com os elementos comuns entre ambos, e adicione chaves para o dataframe de livros e de livros clássicos, além de nomes para os índices.

In [67]:
pd.concat([livros, livros_classicos],axis=0,keys=['livros','livros_classicos'],join='inner', names=['dataframe','index'])

                            nome
dataframe        index
livros           0       livro 1
                 1       livro 2
                 2       livro 3
                 3       livro 4
                 4       livro 5
                 5       livro 6
                 6       livro 7
                 7       livro 8
                 8       livro 9
                 9      livro 10
livros_classicos 0       livro 1
                 1       livro 2
                 2       livro 3
                 3       livro 4
                 4       livro 5
                 5       livro 6
                 6       livro 7
                 7       livro 8
                 8       livro 9
                 9      livro 10

### 7) Faça a junção das bases de dados livros e livros_classicos e verifique a integridade do dataframe resultante

In [50]:
a = pd.concat([livros, livros_classicos],axis=1,verify_integrity=True)

a

ValueError: ignored